.container {
  max-width: 400px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 2rem;
}

.sub-title {
  margin-bottom: 2rem;
  color: #666;
}

.formGroup {
  margin-bottom: 1rem;
  width: 100%;
}

.formGroup label {
  margin-bottom: 0.5rem;
  color: #888;
  text-align: left;
  display: block;
}

.formGroup input {
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.formGroup input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.buttons button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
}

.buttons button:hover {
  background-color: #0056b3;
}